@media only screen 
  and (max-device-width: 700px)
  and (-webkit-min-device-pixel-ratio: 1) {
}

@media only screen 
  and (min-device-width: 700px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
}

@media screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1440px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

.header {
  font-weight: bold;
  font-size: 20px;
  background-color:rgb(241, 240, 240);
font-family: sans-serif;
}

.footer {
  font-weight: bold;
  font-size: 20px;
  background-color: rgb(241, 240, 240);
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

.filters {
  font-weight: bold;
  font-size: 20px;
font-family: Georgia, 'Times New Roman', Times, serif;
background-color: white;
}

.alink {
  padding: 0 5px 5px 0;
  background-color: white;
}

.link:link, link:visited {
  background-color: #89d16c;
  color: white;
  padding: 8px 12px 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

.link:hover, .link:active {
  background-color: rgb(29, 104, 39);
  color: white;
}
.launch {
  text-align: center;
  text-decoration: underline;
  font-family:sans-serif;
  font-size: 16px;
  background-color: white;
}
.sidebar {
  background-color:rgb(241, 240, 240);
}
.card-title {
  color: rgb(29, 29, 109) ;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card {
  border-radius: 5px;
  padding: 25px 10px 10px 25px;
}
.card-text {
  color: black;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.insideText {
  color: rgb(29, 29, 109) ;
  font-family: "Times New Roman", Times, serif;
}
.card-img-top {
  width:240px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(241, 240, 240);
}